html{
  display: flex;
  align-items: center;
  justify-content: center;;
}

#root{

  /* margin: 50px; */

}

h1{
  text-align: center;
  color: blue;
}
#game-board{
  align-content: center;
  /* margin: 20px; */
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  /* grid-template-rows: auto auto auto; */
}
.tile{

}
